/web/bundles/
/web/js/translations
/web/js/app.min.js
/web/js/requirejs-config.js
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/vendor/
/bin/*
!/bin/.gitkeep
!/bin/console
!/bin/grumphp
/.idea
/build/api
/build/code-browser
/build/coverage
/build/logs
/build/pdepend
cache.properties
.env
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
.php_cs.cache
/vendor-bin/**/vendor
/vendor-bin/grumphp/grumphp.yml
